@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan__top {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}
.plan__top--price {
    font-size: 18px;
    font-weight: 600;
    color: #6415ff;
}
.plan__top--divider {
    width: 1px;
    height: 24px;
    background-color: #e2e8f0;
}
.plan__top--text {
    font-size: 16px;
    color: #718096;
}   
.plan__top--price:hover {
    text-decoration: underline;
    cursor: pointer;
}   
.plan__top--price.active {
    text-decoration: none;
    font-weight: 700;
}   
.plan__top--text.active {
    color: #6415ff;
}   
.plan__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;      
}   
.plan__bottom--text {
    font-size: 16px;
    color: #718096;
}               
.plan__bottom--button {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}       
.plan__bottom--button:hover {
    background-color: #4b0fbf;
    cursor: pointer;
}   
.plan__bottom--text:hover {
    text-decoration: underline;
    cursor: pointer;
}   
.plan__bottom--button.active {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}   
.plan__middle {
    width: 100%;
    height: 1px;
    background-color: #e2e8f0;
    margin: 32px 0;
}       
.plan__middle--text {
    font-size: 16px;
    color: #718096;
    text-align: center;
}   
.plan__middle--text:hover {
    text-decoration: underline;
    cursor: pointer;
}   
.plan__middle--text.active {
    color: #6415ff;
}       

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}
.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer__social--link {
    display: table-column;
    gap: 12px;
    margin-top: 16px;
}   
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social--link svg {
    fill: #fff;
    transition: all 300ms ease;
}
.footer__social--link svg:hover {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(172deg) brightness(105%) contrast(101%);
}
.footer__blob--1 {
    position: absolute;
    top: -150px;
    left: -150px;
    z-index: 1;
    width: 300px;
    height: 300px;
    opacity: 0.3;
}   
.footer__blob--2 {
    position: absolute;
    bottom: -150px;
    right: -150px;
    z-index: 1;
    width: 300px;
    height: 300px;
    opacity: 0.3;
}
/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}